@media (max-width:690px) {
  .header-right a {
    display: none;
  }
  .header-left {
   margin: 0 auto;
  }

  .A {
    display: block;
    float:right;

  }

  .header-right ul {
    padding: 0;
  }

  .main-2block {
    flex-direction: column;
    padding-right: 0;

  }

  .main-left {
    width: 100%;
    padding:0 10px;
  }

  .main-right {
    width: 100%;
    margin:0;
  }

  h5 {
    position: relative;
  }

.img2 {
  position: absolute;
  top: 1%;
  left: 3%;
}

.main-input {
  width: 50%;
  margin-left: 17px;
}

.img1-space {
  text-align: center;
}

.img1 {
  width: 90%;
}

.right-menu {
  padding: 0 20px;
}

.right-bottom-image {
  width:18%;
}

.img1-a {
  margin: 0 20px 20px ;
  padding: 15px 0;
}

.right-bottom {
  margin: 20px 20px;

}

/*ここからfooter*/

.left-center-contents {
  display: flex;
  flex-direction: column;
}

.footer-3-contents {
  display: flex;
  flex-direction: column;
}

.left-content {
  width: 100%;
}

.footer-input {
  margin-left:-32px;
}

.footer-input {
  height: 35px;
  margin-top: 37px;
  width: 79%;
  margin-left:0px;
}

.center-content {
  width: 100%;
}

.right-content {
  width: 100%;
}

.aa {
  margin-left: 30px;
}

}



@media (max-width:1030px) {

.footer-3-contents {
  display: flex;
  flex-direction: column;
}

.left-content {
  width: 48%;
}

.center-content {
  width: 48%;
}

.left-center-contents {
  display: flex;
  justify-content: center;
}

}
